@model PortalKFU.Domain.Entities.Event

<article class="post">
    <header>
        <div class="title">
            <h2><a href="#">@Model.Name</a></h2>
            <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
        </div>
        <div class="meta">
            <time class="published" datetime="2015-11-01">November 1, 2015</time>
            <a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg" alt="" /></a>
        </div>
    </header>
    <a href="#" class="image featured">
        @if (Model.ImageData != null)
            {
            <img class="img-thumbnail" width="75" height="475"
                 src="@Url.Action("GetImage", "Event",
                new { Model.EventId })" />
        }
        else
        {
            <img src="images/pic08.jpg" alt="" />
        }
    </a>
    <p>@Model.Description</p>
    <footer>
        <ul class="actions">
            <li><a href="~/SingleEvent" class="button big">Continue Reading</a></li>
        </ul>
        <ul class="stats">
            <li><a href="#">General</a></li>
            <li><a href="#" class="icon fa-heart">28</a></li>
            <li><a href="#" class="icon fa-comment">128</a></li>
        </ul>
    </footer>
</article>
